@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-family: "Grey Qo", cursive; 
     background: rgb(26, 25, 25);
}

/* nav bar section style start here  */
.nav-container {
    width: 90%;
    height: 46px;
    margin: 0 auto;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
}

.nav-menu {
    display: flex;
    gap: 2.9rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.ham-burger {
    display: none;
}

#home {
    width: 92px;
    height: 38px;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-weight: 600;
}

/* banner section style start here  */
.banner-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
}

.banner-info h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    text-align: left;
}

#shape {
    font-family: Grey Qo;
    font-weight: 900;

}

.banner-info p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.btn {
    width: 224px;
    height: 54px;
    margin-top: 1.75rem;
    margin-right: 1rem;
    padding: 16px 40px 16px 40px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.banner-image {
    width: 100%;
    height: 100%;
}
.icon{
    color: rgb(230, 83, 60);
    font-size: 30px;
}
.backdrop-1 {
    width: 180px;
    position: absolute;
    right: 600px;
    bottom: 180px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.backdrop-2 {
    width: 200px;
    position: absolute;
    right: 300px;
    bottom: 500px;
    margin-top: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

}

.backdrop-1 h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.backdrop-1 p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.backdrop-2 p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.backdrop-2 h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}


/* habit section style start here  */
.habit-container {
    width: 80%;
    height: 552px;
    margin: 0 auto;
    margin-top: 6.25rem;
}

.habit-title h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 14px 0px;
}

.habit-title p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.habit-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.habit-image img {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.habit-image h5 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.habit-image p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}

/* run section style start here  */
.run-container {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-info h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.run-info p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.run-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* training section style start here  */
.training-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 6.25rem;
}

.training-info h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.training-info p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.training-card {
    font-size: 0px;
}

.training-card img {
    width: 100%;
    height: 260px;
    filter: brightness(80%);


}

.row-1 {
    display: grid;
    grid-template-columns: 0.8fr 1.3fr 0.7fr;
}

.row-2 {
    display: grid;
    grid-template-columns: 1.3fr 0.8fr 0.7fr;
}

.training-card {
    position: relative;
}

.training-card p {
    position: absolute;
    left: 24px;
    top: 157px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

/* calculator section style start here  */
.calculator-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 4.75rem;
}

.calculator-container h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.calculator-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* chart section style start here  */

.chart-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.chart-container h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}

.chart-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.table {
    border-collapse: collapse;
    margin-top: 4rem;
}

.table th,
td {
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 0.625rem;
}

.table th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.table td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.bim-input div {
    margin-top: 16px;
}

input {
    width: 282.5px;
    height: 48px;
    border-radius: 5px;
    border: none;
}

.select select {
    width: 290px;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.select-factor select {
    width: 585px;
    height: 45px;
    border: none;
    border-radius: 5px;
}

/* team section style start here  */
.team-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 5.5rem;
}

.team-info {
    text-align: center;
}

.team-info h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.team-info p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.trainer-card img {
    width: 100%;
    height: 300px;
    border-radius: 18px;
    filter: brightness(80%);
}

.first-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 16px;
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
    margin-top: 3.5rem;
}

.trainer-card {
    position: relative;
}

.trainer-card h5 {
    position: absolute;
    left: 24px;
    top: 157px;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.trainer-card p {
    position: absolute;
    left: 24px;
    top: 190px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* footer section style start here  */
.footer-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.5rem;
    justify-content: center;
    align-items: center;
}

.footer-info h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    text-align: left;
}

.footer-info p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.footer-list h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.50rem;
}

.footer-list li {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    list-style-type: none;
    margin-bottom: .5rem;
}

hr {
    width: 75%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 1.5rem;

}

/* responsive section start here  */


@media screen and (max-width: 576px) {

    /* nav bar responsive */
    .nav-container {
        width: 80%;
    }

    .nav-title {
        font-size: 16px;
    }

    .ham-burger {
        display: block;
        color: white;
    }

    .nav-menu {
        display: none;
    }

    /* banner responsive */
    .banner-container {
        width: 80%;
        grid-template-columns: 1fr;
        padding: 5px;
        margin: auto;
    }
    .banner-info{
        margin: auto;
    }
    .banner-info h1 {
        /* color: rgb(255, 255, 255); */
        font-family: Inter;
        font-size: 26px;
        font-weight: 600;
    }

    .banner-info p {
        width: 60%;
    }

    .btn {
        width: 50%;
        font-size: 10px;
        font-weight: 400;

    }

    .banner-image {
        height: 100%;
        margin-top: 0px;
    }

    .backdrop-1,
    .backdrop-2 {
        display: none;
    }

    /* habit section responsive  */
    .habit-container{
        width: 80%;
    }
    .habit-title h2 {
        width: 70%;
        font-size: 20px;
    }

    .habit-title p {
        width: 70%;
       padding: 0;
    }

    .habit-image-container {
        grid-template-columns: 1fr;
    }
    .habit-image{
        width: 70%;
        margin:  0;
    }

    /* run section responsive  */
   .run-container{
    display: none;
    grid-template-columns: 1fr;
   }
   .run-info{
    text-align: center;
   }
   .run-info h2,
   .run-info p{
    padding: 0 10px;
   }
   .run-info .btn{
    margin-bottom: 20px;
   }

   .training-container{
    display: none;
    grid-template-columns: 1fr;
   }
   .calculator-container{
    display: none;
   }
   .chart-container{
    display: none;
    grid-template-columns: 1fr;
   }
   .bim-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
   }
   .team-container{
    display: none;
    grid-template-columns: 1fr;
   }
   .footer-container{
    grid-template-columns: 1fr;
   }
   .footer-info{
    width: 40%;
   }
}
